---
import Layout from '../layouts/Layout.astro';
import CTAButton from '../components/CTAButton.astro';
import { getEntryBySlug } from "astro:content";
const entry = await getEntryBySlug("staff", "index");
import SideBar from '../components/SideBar.astro';
const { staff, name,title, image, description } = entry.data;
---

<Layout title='staff' >
  <section class="sectionStaffHead">
    <h1> {title} </h1>
    <CTAButton title="Get Involved" href="/contact" body="Get Involved! Join Our Team" />
  </section>
  <section class="staff">
    <div class="container">
      <div class="staffWrapper">
        {
          staff?.map((staff) => (
            <div class="col-12 mt-6 md:col-6">
              <div class="">
                
                <img src={staff.image} alt={staff.name}/>
                
                  <h4>{staff.name} </h4>
                  <div class="nameTitle">
                <p>{staff.title}</p>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <section class='sectionCDE'>
    <h2>California Department of Education</h2>
    <div class="container">
      <div class="staffWrapper">
          
          <!--BBoyd -->
          <div >
            <div >
              <img src="/images/CDEBadge.png" alt="Barbara Boyd"/>
                <h4>Barbara Boyd, Ed.D.  </h4>
                <div class="nameTitle">
                <p>Education Administrator I <br />
                  Early Childhood Support Unit Special Education Division California Department of Education </p>
                </div>
            </div>
          </div>
          <!--End BBoyd -->

      <!--JLosh -->
      <div >
        <div >
            <img src="/images/CDEBadge.png" alt="Jessica Wolsh	"/>
            <h4>Jessica Losh	 </h4>
              <div class="nameTitle">
                <p>Child Development Consultant <br /> 
                  Inclusion Support Office <br /> 
                  Early Education Division</p>
            </div>
        </div>
      </div>
      <!--End JWolsh -->
  </div>
</div>
  </section>
  <div slot="sideslot">
    <SideBar />

  </div>
</Layout>

<style>
  .staffWrapper{
    display: flex;
 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    line-height:100%;
  }

 
  .staffWrapper > div {
    width:250px;
    text-align:center;
    margin:1.5em;
    color:var(--PolynesianBlue);
  }
  .nameTitle{
    font-size: .69em;
    line-height:130%;
  }
</style>